#container{
    background-color: red;
    height: 400;
    width:400;
   position:relative;
    
}
#first{
    background-color: green;
    height:100px;
    width:100px;
    position: relative;
    left:10px;
    bottom:20px;
}
#second{
    background-color: blue;
    height:100px;
    width:100px;
    position:absolute
    /* bottom:20px; */
}